@font-face {
  font-family: 'bujiaban-mp';  /* Project id 4419566 */
  src: url('//at.alicdn.com/t/c/font_4419566_rvvv0rdh6ea.woff2?t=1746524267069') format('woff2'),
       url('//at.alicdn.com/t/c/font_4419566_rvvv0rdh6ea.woff?t=1746524267069') format('woff'),
       url('//at.alicdn.com/t/c/font_4419566_rvvv0rdh6ea.ttf?t=1746524267069') format('truetype'),
       url('//at.alicdn.com/t/c/font_4419566_rvvv0rdh6ea.svg?t=1746524267069#bujiaban-mp') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'bujiaban-mp' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bujiaban:before {
  content: '\e621';
}

